@{
    ViewBag.Title = "About";
}


<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url(../Content/Images/ab.jpg)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h3 class="animate__animated animate__fadeInUp" style="color: #e96b56;font-size:14px;letter-spacing:1.2em;line-height:2.4em;font-weight:bold;">AFRI AUS CARE</h3>
                                <h2 class="animate__animated animate__fadeInDown">ABOUT US</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8">
                    <div class="icon-box">
                        <h3><a style="text-transform: uppercase; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;" href="">Who We Are</a></h3>
                        <p style="font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;">Afri-Aus Care are a group of diverse professionals who provide support services to migrant youth from African and other CALD backgrounds, and their families, who are at risk or experiencing mental health issues, family and inter-generational conflict or are in the court system due to offences arising from these circumstances. Our volunteers are qualified case workers, social workers and psychologists, along with representatives from CALD communities who are able to engage with our clients in a culturally appropriate way.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Section -->

    <section id="about" class="about">
        <div class="container">

            <div class="row" style="margin-top:30px;">
                <div class="col-lg-1 col-md-6 d-flex">

                </div>
                <div class="col-lg-10 col-md-6 d-flex">
                    <p style="padding-bottom: 1em; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; font-size: 16px; line-height: 1.8em">
                        <span>Afri-Aus Care Inc. provides Culturally Appropriate Mental Health assessment and a variety of support services to African Australian youth-at-risk, their families and those from other CALD backgrounds. We use UBUNTU guidelines and the Positive Change Model as the foundations of assisting people to live meaningful lives. Participants are then further referred to appropriate Health professionals and other Stakeholders for achievable outcomes. We use Culturally Appropriate programs in all our projects, as a result, our organisation has been able to reach out to community members at the grassroots level. We also work in collaboration with private and public Stakeholders, for example, various government bodies, Rotary clubs, and educational institutions to reach our strategic goals. We offer intensive biopsychosocial and wellbeing risk assessment such as counselling, legal/court/post-release community support, alternative education and employment pathways as well as further referrals to appropriate health care providers and other organisations. Afri-Aus Care provides placement opportunities for tertiary students from various educational institutions in Victoria, including RMIT, Monash University, Chisholm, Holmesglen, Swinburne University of Technology, Stott’s College, Victoria University, etc. Afri-Aus Care also works with the University of Melbourne, the Swinburne University of Technology and Psyche Foundation on a number of research and evaluation projects.</span>
                    </p>

                </div>
                <div class="col-lg-1 col-md-6 d-flex">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <section id="What" class="about">
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <div class="col-lg-5 col-md-6">
                    <img loading="lazy" width="450" height="550" style="margin-bottom: 5.82%;" src="~/Content/Images/Sewing_Group_34.jpg" alt="" title="Sewing_Group_34">
                    <h3><a style="text-transform: uppercase; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; color:black;letter-spacing:1px;line-height:1.8em;">SELBA GONDOZA-LUKA</a></h3>
                    <p style="font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;letter-spacing:1px;">Malawian-born, Selba Gondoza Luka is a Mental Health Clinician specialising in at-risk Youth within the African and CALD (Culturally and Linguistically Diverse) communities. Ms Luka, inspired by her own experiences of domestic abuse and the long process of repairing a fractured relationship with her own daughter, came out of the darkness and founded Afri-Aus Care in 2015. Passionate about breaking the Youth-Prison cycle for many, and closing down the gap of Inter generational Conflict, Ms Luka has been a pivotal foundation for many troubled and fractured families to stabilize on as they take major steps along the path of recovery.</p>
                </div>
                <div class="col-lg-7 col-md-6">
                    <h3><a style="text-transform: uppercase; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; color:black;letter-spacing:1px;line-height:1.8em;">WHAT WE DO</a></h3>
                    <p style="font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; letter-spacing: 1px; margin-bottom: 5.82%;">Afri-Aus Care are a group of diverse professionals who provide support services to migrant youth from African and other CALD backgrounds, and their families, who are at risk or experiencing mental health issues, family and inter-generational conflict or are in the court system due to offences arising from these circumstances. Our volunteers are qualified case workers, social workers and psychologists, along with representatives from CALD communities who are able to engage with our clients in a culturally appropriate way.</p>
                    <h3><a style="text-transform: uppercase; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; color:black;letter-spacing:1px;line-height:1.8em;">WHY WE DO IT</a></h3>
                    <p style="font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; letter-spacing: 1px; margin-bottom: 5.82%;">Afri-Aus Care are a group of diverse professionals who provide support services to migrant youth from African and other CALD backgrounds, and their families, who are at risk or experiencing mental health issues, family and inter-generational conflict or are in the court system due to offences arising from these circumstances. Our volunteers are qualified case workers, social workers and psychologists, along with representatives from CALD communities who are able to engage with our clients in a culturally appropriate way.</p>
                    <img loading="lazy" width="350" height="450" style="margin-left: 5.82%;" src="~/Content/Images/ab2.jpg" alt="">
                </div>

            </div>
        </div>
    </section><!-- End About Section -->
    <section id="TeamAbout" class="about-team">
        <div class="container" style="background-color:black;max-width:1600px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="team-div">
                        <div class="team-div-inner"><h3>MEET OUR TEAM</h3></div>
                    </div>
                    <div class="team-div-text">
                        <p>We value and support our volunteers and offer culturally specific work experience, training and professional development.<br> The experience gained from working in AAC’s diverse environment has helped many past and present volunteers to advance their professional goals.</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/Images/Ab-Team/cm.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p style="margin-bottom:0px;">Kwacha Luka</p>
                            <p>Employment Mentor/Centre Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/Images/Ab-Team/sw.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p style="margin-bottom:0px;">Angelina Diyo</p>
                            <p>Social worker</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/Images/Ab-Team/sw1.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p style="margin-bottom:0px;">Vivian Ying Hang Tong</p>
                            <p>Social Worker</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/Images/Ab-Team/yl.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p style="margin-bottom:0px;">Atong Ayom</p>
                            <p>Youth Leader / Basketball Support Worker</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/Images/Ab-Team/pw.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p style="margin-bottom:0px;">Veronica Agobong</p>
                            <p>Project Worker</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/Content/Images/Ab-Team/hr.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p style="margin-bottom:0px;">Kanika Khanna</p>
                            <p>Human Resource Manager</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <section id="keyPartnersAbout" class="about-keyPartners">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="keyP-div">
                        <div class="keyP-div-inner"><h3>KEY PARTNERS</h3></div>
                    </div>


                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row" style="margin-bottom:50px;">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div class="keyP-div-text">
                        <p>Afri-Aus Care would not have achieved the ability to support the community without our many partners and supporters.</p>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="brand-carousel  owl-carousel">
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p1.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p2.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p3.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p4.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p5.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p6.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p7.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p8.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p9.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p10.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p11.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p12.jpg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p13.jpeg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p14.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p15.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p16.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p17.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p18.png" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p19.jpeg" class="img-fluid">
                </div>
                <div class="single-logo">
                    <img src="~/Content/Images/Ab-Partners/p20.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

</main>
<script type="text/javascript">
    let items = document.querySelectorAll('.carousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })

    $('.brand-carousel').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })

</script>