
@{
    ViewBag.Title = "boardmembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mainSection">
    <div class="hero-container">
        <div class="div-inner">
            <div class="div-item active" style="background-image: url(../Content/Images/Ab-BoardMembers/main.jpg);">
                <div class="div-container">
                    <div class="div-content">
                        <h3 class="animate__animated animate__fadeInUp" style="color: white;font-size:16px;letter-spacing:1.2em;line-height:2.4em;font-weight:bold;">AFRI AUS CARE</h3>
                        <h2 style="color: white;letter-spacing:1.2em;line-height:2.4em;" class="animate__animated animate__fadeInDown">BOARD MEMBERS</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<main id="main">
    <section id="board-Member-About" class="about-keyPartners">
        <div class="container">
            <div class="row" style="background-color:black;margin-top:5.8%;margin-bottom:5.8%">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="keyP-div">
                        <div class="keyP-div-inner"><h3>Board Members</h3></div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="brand-carousel  owl-carousel">
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm1.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Joanna Abraham</h4>
                        <div>Secretary/Immigration Lawyer</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm2.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Lili Teichman</h4>
                        <div>PRESIDENT ROTARY GLEN EIRA </div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm3.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Kondwani Hara</h4>
                        <div>Treasure/Chartered Accountant</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm4.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Dr David Jacka</h4>
                        <div>Chairman/Addiction Medicine Specialist Monash Health</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm5.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>June Anderson</h4>
                        <div>President of Australian Asian Business Woman Association</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm6.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Associate professor Dr Stephane Shephard</h4>
                        <div>Deputy Chairman </div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-BoardMembers/bm7.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Yacoub Djazouli Ali</h4>
                        <div>Board Member</div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="aboutBM" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-6 d-flex">

                </div>
                <div class="col-lg-10 col-md-6 d-flex">
                    <p style="padding-bottom: 1em; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; font-size: 16px; line-height: 1.8em">
                        <span>Our dedicated board members work very hard behind the scenes to ensure Afri-Aus Care delivers quality services to the public. Thier endless experince and expertise play a key role in driving our passion to achieve our vision and setting the standard. With their continued support and encouragement we look forward to many years of contributing to the community.</span>
                    </p>

                </div>
                <div class="col-lg-1 col-md-6 d-flex">
                </div>
            </div>
        </div>
    </section>
    <section id="ac-About" class="about-keyPartners">
        <div class="container">
            <div class="row" style="background-color:black;margin-top:5.8%;margin-bottom:5.8%">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="keyP-div">
                        <div class="keyP-div-inner"><h3>ADVISORY COMMITTEE</h3></div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="brand-carousel  owl-carousel">
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/ac1.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Rita Padang</h4>
                        <div>Community Elder</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/ac2.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Sam Onanda</h4>
                        <div>Business Development Manager AFCHAM /Blue Nile African Business Master Class Mentor</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/andrew.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Andrew Patterson</h4>
                        <div>Independent Consultant on country risks/Blue Nile African Business Master Class Mentor</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/gavin.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Gavin Ackerly</h4>
                        <div>CEO & Co-Founder of Community Four/Pioneer of Humanitarian Symbiotic Innovation</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/jenny.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Jenny Foster</h4>
                        <div>District Chair International Service/Rotary Melbourne Passport Club</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/mahmed.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Mahamed Ahmed</h4>
                        <div>Black Rhino's Mentor</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/ray.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Raymond Blessing</h4>
                        <div>CEO at TaskForce Community Agency</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/ryan.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Ryan Rooney</h4>
                        <div>Educator/Head Coach Black Rhino Basketball</div>
                    </div>
                </div>
                <div class="bm-pic">
                    <img src="~/Content/Images/Ab-AdvisoryCommit/trent.jpg" class="img-fluid">
                    <div class="owl-text">
                        <h4>Trent Smyth</h4>
                        <div>Counsel Of The Republic Of Malawi</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-About" class="about-keyPartners">
        <div class="container">
            <div class="row" style="margin-top:5.8%;margin-bottom:5.8%">
                <div class="col-md-4">
                    <div style="text-align:left;">
                        <h3>CONNECT</h3>
                        <p>Stay in touch with our social</p>
                        <p>media platforms for all the latest up dates</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="text-align:left;">
                        <h3>OPENING HOURS</h3>
                        <p>Mon – Fri: 10am – 9pm</p>
                        <p>Sat – Sun: 12 Pm – 6pm</p>
                    </div>
                      
                    </div>
                <div class="col-md-4">
                    <div style="text-align:left;">
                        <h3>CONTACT</h3>
                        <p><span>Mobile: 0433 526 553</span></p>
                        <p><a href="mailto:info@afri-auscare.org">info@afri-auscare.org</a></p>
                        <p><span>562 – 564 Springvale Road, Springvale South, VIC, 3172</span></p>
                    </div>
                </div>
                </div>
            </div>
    </section>
</main>

<script type="text/javascript">

    $('.brand-carousel').owlCarousel({
        loop: true,
        margin: 10,
        autoplay: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 3
            }
        }
    })
</script>
