@{
    ViewBag.Title = "Afri-Aus care Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url(../Content/Images/Community.jpeg)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>AFRI-AUS CARE</span></h2>
                                <p class="animate__animated animate__fadeInUp">We are a non profit community organization engaging with the community through the postivie change model and Ubuntu.</p>
                                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url(../Content/Images/PHOTO-2021-03-07-22-08-41.jpg)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated fanimate__adeInDown"><span>Event Update</span></h2>
                                <p class="animate__animated animate__fadeInUp">The launch of empowering African Australian mothers using the UBUNTU guidelines.</p>
                                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url(../Content/Images/JC-Rhino.jpeg)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Rhinos</span></h2>
                                <p class="animate__animated animate__fadeInUp">Black Rhinos is a crime prevention sport program for male youth focusing on primary intervention for social inclusion and assisting those who are in the justice system.</p>
                                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->
<main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h3><a href="">OUR MISSION</a></h3>
                        <p>Improving the mental health of migrant youth at risk and their families by building bridges with mainstream services.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h3><a href="">OUR VISION</a></h3>
                        <p>We are building a future where services will acknowledge and are sensitive to African and culturally and linguistically diverse (CALD) people´s perception of mental health. By recognizing cultural differences, we aim to increase social participation and decrease isolation within the South East Melbourne region.</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bi bi-binoculars"></i>
                        <h3><a href="">WHO WE ARE</a></h3>
                        <p>Afri-Aus Care is a not for profit community service organisation run by a group of qualified professionals, many from migrant backgrounds. The organisation was founded by Selba Gondoza-Luka, who experienced hardship after arriving in Australia and made it her mission to help those experiencing similar difficulties.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/Images/Kid-Cooking.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 pt-4 pt-lg-0 content">
                    <h3>AFRI-AUS CARE</h3>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>  We work to address mental health taboos within African and other Culturally and Linguistically Diverse (CALD) communities.</li>
                        <li>
                            <i class="bi bi-check-circle"></i> We provide assistance and support to individuals through primary mental health intervention and intensive support programs and
                            by counselling clients’ families.
                        </li>
                        <li><i class="bi bi-check-circle"></i> Involvement in these programs enables individuals to better integrate into Australian society.</li>
                    </ul>
                    <p>
                        UBUNTU, I am because we are. By using The Positive Change Model, we bring grassroot community members together to strengthen each other in our society. Making Australia a better place to be for everyone.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="hero-container">
            <div class="section-title">
                <h2>PROGRAMS & SERVICES</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-6 d-flex" style="background-image: url(../Content/Images/download.png);height:300.9px">

                </div>
                <div class="col-lg-12 col-md-6 d-flex align-items-stretch mt-4">

                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">COMMUNITY PROGRAMS</a></h4>
                        <p>
                            We work to address mental health taboos within African and other Culturally and Linguistically Diverse (CALD) communities. We provide assistance and support to individuals through primary mental health intervention and intensive support programs and
                            by counselling clients’ families
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">PROJECTS & PARTNERSHIP</a></h4>
                        <p>Many clients come to Afri-Aus Care (AAC) with unresolved trauma. This trauma may have occurred in their country of origin and/or after settling here in Australia. Because of the stigma that mental illness attracts amongst many African and other CALD communities, it may remain undiagnosed and untreated. AAC works to remove these barriers and improve personal wellbeing.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">NDIS</a></h4>
                        <p>The NDIS is a new way of providing individualised support for people with disability, their families and carers. The NDIS will provide all Australians with a permanent and significant disability, aged under 65, with the reasonable and necessary supports they need to live an ordinary life.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2>WHAT WE OFFER</h2>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-4">
                    <div class="accordion accordion-flush " id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Doante
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Afri-Aus Care Inc. greatly appreciates any donations of any size.
                                    <p>
                                        <a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Our Blog
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"><p><a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a></p></div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    NDIS
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    We create events to help African young people & families access legal, health and community services, and run community programs that promote wellbeing & life opportunities.
                                    <p><a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    About Us
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Afri-Aus Care are a group of diverse professionals who provide support services to migrant youth from African and other CALD backgrounds, and their families,
                                    <p><a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    Media
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"><p><a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a></p></div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    Key Partners
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Afri-Aus Care would not have achieved the ability to support the community without our many partners and supporters.
                                    <p><a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSvn">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSvn" aria-expanded="false" aria-controls="flush-collapseSvn">
                                    Gallery
                                </button>
                            </h2>
                            <div id="flush-collapseSvn" class="accordion-collapse collapse" aria-labelledby="flush-headingSvn" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Afri-Aus Care Inc. greatly appreciates any donations of any size.
                                    <p><a href="#" style="color:blue;font-weight:bold;text-decoration:underline;">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">


                    <div class="d-flex flex-wrap justify-content-center">
                        <div class="d-flex flex-column">
                            <img class="img-fluid" src="~/Content/Images/A.jpeg" style="margin:6px;">
                            <img class="img-fluid" src="~/Content/Images/PHOTO-2021-03-07-22-08-41.jpg" style="margin:6px;">

                        </div>

                        <div class="d-flex flex-column">
                            <img class="img-fluid" src="~/Content/Images/pgm.jpeg" style="margin:6px;">
                            <img class="img-fluid" src="~/Content/Images/Services.png" style="margin:6px;">
                        </div>

                        <div class="d-flex flex-column">
                            <img class="img-fluid" src="~/Content/Images/thumbnail.jpeg" style="margin:6px; height:400px;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End OFFER Section -->

</main><!-- End #main -->