
@{
    ViewBag.Title = "KeyPartners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mainSection" style="margin-bottom:-90px;">
    <div class="hero-container">
        <div class="div-inner">
            <div class="div-item active" style="background-image: url(../Content/Images/Ab-Partners/main.jpg);">
                <div class="div-container">
                    <div class="div-content">
                        <h3 class="animate__animated animate__fadeInUp" style="color: white;font-size:16px;letter-spacing:1.2em;line-height:2.4em;font-weight:bold;">AFRI AUS CARE</h3>
                        <h2 style="color: white;letter-spacing:1.2em;line-height:2.4em;" class="animate__animated animate__fadeInDown">KEY PARTNERS</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8">
                    <div class="icon-box">
                        <h3><a style="text-transform: uppercase; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;" href="">Afri-Aus Care would not have achieved the ability to support the community without our many partners and supporters.</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Section -->
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p1.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p2.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p3.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p4.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p5.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p6.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p7.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p8.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p9.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p10.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p11.jpg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p13.jpeg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p14.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p15.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p16.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p17.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p18.png" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p19.jpeg" class="img-fluid" alt="image">
                </div>
                <div class="col mt-3">
                    <img src="~/Content/Images/Ab-Partners/p20.jpg" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </section>
    </main>

