
@{
    ViewBag.Title = "ProgramServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mainSection">
    <div class="hero-container">
        <div class="div-inner">
            <div class="div-item active" style="background-image: url(../Content/Images/Pgm-Services/section.jpg);">
                <div class="div-container">
                    <div class="div-content">
                        <h3 class="animate__animated animate__fadeInUp" style="color: white;font-size:16px;letter-spacing:1.2em;line-height:2.4em;font-weight:bold;">AFRI AUS CARE</h3>
                        <h2 style="color: white;letter-spacing:1.2em;line-height:2.4em;" class="animate__animated animate__fadeInDown">PROGRAM & SERVICES</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<main id="main">
    <section id="board-Member-About" class="about-keyPartners">
        <div class="container">
            <div class="row" style="background-color:black;margin-top:5.8%;margin-bottom:5.8%">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="keyP-div">
                        <div class="keyP-div-inner"><h3>COMMUNITY PROGRAMS</h3></div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>        

        </div>
    </section>
    <section id="about" class="about">
        <div class="container">

            <div class="row" style="margin-top:30px;">
                <div class="col-lg-1 col-md-6 d-flex">

                </div>
                <div class="col-lg-10 col-md-6 d-flex">
                    <p style="padding-bottom: 1em; font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif; font-size: 16px; line-height: 1.8em">
                        <span>
                            We work to address mental health taboos within African and other Culturally and Linguistically Diverse (CALD) communities. We provide assistance and support to individuals through primary mental health intervention and intensive support programs and
                            by counselling clients’ families. Involvement in these programs enables individuals to better integrate into Australian society.
                        </span>
                    </p>

                </div>
                <div class="col-lg-1 col-md-6 d-flex">
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>
