@{
    Layout = null;
}


<title>@ViewBag.Title Home Admin Portal</title>
<link rel="stylesheet" href="~/Content/bootstrap.min.css"/>

@Html.Partial("_MenuBarAdminPortal")
<div class="container">
    <br />
    <h2>Last Changes Registered</h2>
    <br />
    <br />
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Action</th>
                <th scope="col">Module</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">John doe</th>
                <td>Disable</td>
                <td>Gallery</td>
                <td>01-04-2023 18:00</td>
            </tr>
            <tr>
                <th scope="row">Mark Fong</th>
                <td>Delete</td>
                <td>User</td>
                <td>02-04-2023 22:05</td>
            </tr>
        </tbody>
    </table>
</div>
